body {
    background-image: url('JAMEX/fondo3.avif');
    background-repeat: no-repeat;
    background-size: 115%;
    align-content: center;
    color: rgb(0, 0, 0);
  }
nav{
    font-family:'Signika Negative', sans-serif;
  }
  h1{
    font-size: 48px;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
  }
  .nav1{
    text-align: center;
  }
  p{
    text-align: justify;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
  }
  h2{
    font-family: 'Signika Negative', sans-serif;
  }
  h3{
    font-family: 'Signika Negative', sans-serif;
  }
  h4{
    font-family: 'Signika Negative', sans-serif;
  }
  h5{
    font-family: 'Signika Negative', sans-serif;
  }