@font-face{
  font-family: "Fuente_Fira";
  src: url("Fuentes/Fira_Sans/FiraSans-Regular.ttf") format(truetype);
}

*{
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
  font-family: 'Fuente_Fira';
}

body {
    background-image: url('JAMEX/jamex123.jpeg');
    /* background-repeat: no-repeat; */
    background-size: 100% ;
    align-content: center;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
  }

#namm{
   font-size: 25px; 
}

    #cajaformulario{
    float: left;
    padding: 20px;
    border: 5px solid #000000;
    }

    #cajadatos{
    float: left;
    width: 400px;
    margin-left: 400px;
    padding: 20px;
    background-color: rgb(8, 196, 8);
    border: 5px solid #006605;
    margin-top: 50px;
    }

    #sugerencia, #comentario{
    width: 1200px;
    }

    #cajadatos > div{
    padding: 5px;
    border-bottom: 1px solid #000000;
    }
    
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4DAFF6;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #002fff;
    }

    #text div {
        border-radius: 5px;
        background-color: #ccf9ae;
        padding: 20px;
        margin-top: 10px;
        outline-style: solid;
        outline-width: 10px;
        outline-color:  #66ff00;
    }

    #text{
        margin-left: 500px;
        margin-top: 400px;
        font-weight: bold;
        font-size: 25px;
    }

    #ingresa{
        margin-left: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }

   input{
    background-color: #002fff;
    color: white;
    height: 30px;
    width: 100px;
    margin-top: 25px;
    margin-left: 550px;
    outline-style: inset;
    outline-width: 5px;
    outline-color: #000000;
   }

   h1{
    text-align: center;
    
   }

   header {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    padding: 2 20px;
    /* background-color: rgb(255, 189, 151); */
  }

  #menu ul {
    width: 100%;
    list-style-type: none;
    /* background: rgb(255, 255, 255); */
    padding: 5px 10px;
    padding-left: 0;
    margin-left: 5px;
    font-size: 18px;
    justify-content: space-between;
    display: flex;
  }

  #menu ul li a{
    padding: 10px;
    text-decoration: none;
    list-style: none;

  }

  #menu{
    width: 60%;
  }

  #menu li {
    display: inline-block;
    list-style: none;
    color: white;
    text-align: center;
    font: bold 20px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    padding-left: 0;
    font-size: 18px;
  }
  
#menu li:hover {
    background-color: #c710ff;
    padding-left: 0;
    font-size: 18px;
    border-radius: 20px;
    
  }

#ayuda1:hover #ayuda{
  display: block;
  display: inline-block;
  background: rgb(184, 189, 238);
  color: rgb(10, 9, 9);
  padding-left: 0;
  margin-left: -80px;
  margin-top: 40px;
  height:200px;
  width: 150px;
  position: absolute;
  font-size: 18px;
  padding-top: 0;
  border-radius: 20px;
}

#ayuda .ayud{
  display: none;
}

#ayuda1:hover #ayuda li{
  display: block;
  list-style: none;

  font-size: 18px;
}

h3{
  text-align: center;
}
