@font-face{
  font-family: "Fuente_Fira";
  src: url("Fuentes/Fira_Sans/FiraSans-Regular.ttf") format(truetype);
}

*{
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
  font-family: 'Fuente_Fira';

}

body {
    background-image: url('JAMEX/Shiny\ Overlay.svg');
    /* background-repeat: no-repeat; */
    background-size: 120% ;
    align-content: center;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    color: white;
  }

  h1{
    font-size: 48px;
    text-align: center;
  }

  #nav1{
    text-align: center;
  }

  p{
    text-align: justify;
    font-size: 25px;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    padding: 2 20px;
    /* background-color: rgb(255, 189, 151); */
    font-size: 18px;
  }

  #menu ul {
    width: 100%;
    list-style-type: none;
    /* background: rgb(255, 255, 255); */
    padding: 5px 10px;
    padding-left: 0;
    margin-left: 5px;
    font-size: 18px;
    justify-content: space-between;
    display: flex;
    color: white;
  }

  #menu ul li a{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 18px;

  }

  #menu{
    width: 70%;
    font-size: 18px;
  }

  #menu li {
    display: inline-block;
    list-style: none;
    color: white;
    text-align: center;
    font: bold 20px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    padding-left: 0;
    font-size: 18px;
  }
  
#menu li:hover {
    background-color: #c710ff;
    padding-left: 0;
    font-size: 18px;
    border-radius: 20px;
    color: white;
       
    
  }

#ayuda1:hover #ayuda{
  display: block;
  display: inline-block;
  background: rgb(184, 189, 238);
  color: rgb(255, 255, 255);
  padding-left: 0;
  margin-left: -80px;
  margin-top: 40px;
  height:130px;
  width: 150px;
  position: absolute; 
  font-size: 18px;
  padding-top: 0;
  border-radius: 20px;
  z-index: 999; 
}



#ayuda .ayud{
  display: none;
}

#ayuda1:hover #ayuda li{
  display: block;
  list-style: none;
  z-index: 999;
  font-size: 18px;
}


form{
  margin: 0px;
  padding: 0px;
  padding-left: 2px;
}

fieldset{
  margin-top: 60px;
}

legend{
  font-weight: bold;
  font-size: 27px;

}

label{
  font-size: 17px;

}

/* #enviar{
  background-color: #002fff;
  color: white;
  height: 30px;
  width: 140px;
  margin-top: 25px;
  margin-left: 550px;
  outline-style: inset;
  outline-width: 5px;
  outline-color: #000000;
 } */
 .enviarData{
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: .2s;
  background: linear-gradient(0deg, #000, #272727);
}

.enviarData:before, .enviarData:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.enviarData:after {
  filter: blur(50px);
}



video{
  width: 100%;
}

/* #pie{

  margin-top: 100px;
  /*background-color: rgb(252, 253, 202);
  padding: 90px;
  margin-left: -80px;
  width: 100%;
}

#pie footer{
  margin-right: -80px;
} */
.container {
  position: relative;
  width: 250px;
 /*  choose your size */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #313638;
  transition: 0.3s;
  cursor: pointer;
}

.icon {
  width: 26px;
  height: 26px;
  fill: #fff;
}

.container button:nth-child(1):hover {
  background-color: #2753a7;
}

.container button:nth-child(2):hover {
  background-color: #cd242b;
}

.container button:nth-child(3):hover {
  background-color: #55acee;
}

.container button:nth-child(4):hover {
  background-color: #0274b3;
}

.IG{
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  color: white;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}


.IG::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.IG:hover {
  color: #fff;
}

.IG:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}

footer{
  margin-top: 150px;
}
.title {
  color: gray;
  font-weight: 700;
  font-size: 17px;
  position: absolute;
  top: -35px;
  left: 0;
}
#imagene{
  text-align: center;
  font-size: 30px;

}
#texta{
  font-size: 15px;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery li {
  flex-basis: calc(33.33% - 20px);
  margin: 5px;
  overflow: hidden;
  position: relative;
}

.gallery img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
}

.gallery img:hover {
  transform: scale(1.2);
}

#uele li{
  list-style: none;
  margin-top: 10px;
}

fieldset{
  margin-left: 50px;
  margin-right: 50px;
}

td{
  padding-left: 100px;
}

input[type=submit], #enviarData{
  background-color: #002fff;
  color: white;
  height: 30px;
  width: 100px;
  outline-style: inset;
  outline-width: 5px;
  outline-color: #000000;
 } 

 .cont{
  display: inline-block;
  text-align: center;
  margin: 20px;
 }

 .cont1{
  display: inline-block;
  text-align: center;
  margin: 20px;
 }
 .cont2{
  display: inline-block;
  text-align: center;
  margin: 20px;
 }

p{
  margin-top: 10px;
}
/*IMAGENES*/

 #P1{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P2{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P3{
  margin-bottom: -90px; 
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P4{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P5{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P6{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P7{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P8{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P9{
  margin-bottom: -60px; 
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P10{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P11{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P12{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 #P13{
  width: 200px;
  transform: translateX(0px);
  animation: float 5s ease-out infinite; 
 }

 @keyframes float{
  0%{
    transform: translateY(0px);
  }
  
  50%{
    transform: translateY(-20px);
  }
  
  100%{
    transform: translateY(0px);
  }
 }
 .gallery, .suc1{
  display: block;
  /* width: 800px;
  height: 100px; */
  transition: transform 0.3s ease-out;
  margin: 5px;
}

#suc12{
  height: 500px;
  width: 500px;
}

iframe{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 400px;
}
